<div>
    <h2 id="page-heading">
        <span >Annees Scolaires</span>

        <button id="jh-create-entity" class="btn btn-outline-dark float-right jh-create-entity create-annee-scolaires" [routerLink]="['/annee-scolaire/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="azimutApp.anneeScolaire.home.createLabel">
            Create a new Annee Scolaire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="anneeScolaires?.length === 0">
        <span jhiTranslate="azimutApp.anneeScolaire.home.notFound">No anneeScolaires found</span>
    </div>

    <div class=" card table-responsive" id="entities" *ngIf="anneeScolaires && anneeScolaires.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleAnnee"><span jhiTranslate="azimutApp.anneeScolaire.libelleAnnee">Libelle Annee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let anneeScolaire of anneeScolaires ;trackBy: trackId">
                    <td><a [routerLink]="['/annee-scolaire', anneeScolaire.id, 'view']">{{ anneeScolaire.id }}</a></td>
                    <td>{{ anneeScolaire.libelleAnnee }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/annee-scolaire', anneeScolaire.id, 'view']"
                                    class="btn btn-outline-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/annee-scolaire', anneeScolaire.id, 'edit']"
                                    class="btn btn-outline-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(anneeScolaire)"
                                    class="btn btn-outline-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="anneeScolaires && anneeScolaires.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>

