<h1><marquee>Cabinet de Formation et de Conseils Tous Azimut</marquee></h1>
<main>


    <section class="row" *ngIf="!isAuthenticated()">

        <div class="col-12 col-md-9">
            <article>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <img src="../../content/images/accueil.jpg" alt="images" class="img-fluid img-thumbnail"/>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-12 col-md-3">
            <article>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <a href="../../content/images/accueil2.jpg"><img src="../../content/images/accueil2.jpg" alt="images"  class="img-fluid img-thumbnail"/></a>
                    </div>

                </div>
            </article>

            <article>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <a href="../../content/images/accueil3.jpg"><img src="../../content/images/accueil3.jpg" alt="images"  class="img-fluid img-thumbnail"/></a>
                    </div>

                </div>
            </article>

            <article>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <a href="../../content/images/accueil4.jpg"><img src="../../content/images/accueil4.jpg" alt="images"  class="img-fluid img-thumbnail"/></a>
                    </div>

                </div>
            </article>

        </div>



    </section>

    <!--Debut Section 2-->

    <section>

        <div class="col-12 col-md-9">
            <article>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <section class="card">
                            <img src="../../content/images/inscription.jpg" class="card-img-top" alt="img"/>
                            <h1 class="card-title card-header btn btn-primary"
                                routerLink="inscription" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Inscription</h1>
                        </section>
                    </div>

<!--                    <div class="col-12 col-md-4">-->
<!--                        <section class="card">-->
<!--                            <img src="../../content/images/formation1.jpg" class="card-img-top"/>-->
<!--                            <h1 class="card-title card-header btn btn-warning">Formations</h1>-->
<!--                        </section>-->
<!--                    </div>-->

<!--                    <div class="col-12 col-md-4">-->
<!--                        <section class="card">-->
<!--                            <img src="../../content/images/professeur.jpg" class="card-img-top" alt="img"/>-->
<!--                            <h1 class="card-title card-header btn btn-danger" routerLink="formateur"-->
<!--                                routerLinkActive="active">Formateurs-->
<!--                            </h1>-->

<!--                        </section>-->
<!--                    </div>-->

<!--                    <div class="col-12 col-md-4">-->
<!--                        <section class="card">-->
<!--                            <img src="../../content/images/inscription.jpg" class="card-img-top"/>-->
<!--                            <h1 class="card-title card-header btn btn-info">Element1</h1>-->
<!--                        </section>-->
<!--                    </div>-->

<!--                    <div class="col-12 col-md-4">-->
<!--                        <section class="card">-->
<!--                            <img src="../../content/images/inscription.jpg" class="card-img-top"/>-->
<!--                            <h1 class="card-title card-header btn btn-success">Element2</h1>-->
<!--                        </section>-->
<!--                    </div>-->
                </div>

            </article>
        </div>

    </section>
    <!-- Fin Section 2-->

</main>

